@tailwind base;
@tailwind components;
@tailwind utilities;

.main-nav li {
    padding-left: 20px;
    padding-right: 20px;
}

.star-svg {
    display: inline-flex;
}

.product-card-media:hover .add-cart {
    bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

tr {
    position: relative;
    box-shadow: 0px -7px 6px -10px rgba(0, 0, 0, 0.3), 0px 10px 6px -12px rgba(0, 0, 0, 0.3);
}

tr::before {
    content: '';
    width: 40px;
    height: 100%;
    box-shadow: -1px 0px 3px -2px rgba(0, 0, 0, 0.3);
    display: block;
    position: absolute;
    left: 10px;
    z-index: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

tr::after {
    content: '';
    width: 40px;
    height: 100%;
    box-shadow: 1px 0px 3px -2px rgba(0, 0, 0, 0.3);
    display: block;
    position: absolute;
    right: 10px;
    z-index: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cat-card .cat-img {
    overflow: hidden;
}

.cat-card .cat-img::before {
    content: '';
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(-40deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0.2) 100%);
    position: absolute;
    top: 0;

}

.cat-card .cat-img:hover::before {
    display: flex;
}